/* App.css */

.app-container {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    background-image: url("#");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  }
  
  @media (max-width: 768px) {
    .app-container {
      width: 95%;
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .app-container {
      width: 90%;
      padding: 10px;
    }
  }
  